<div class="container">
  <div class="row">
    <div class="col-4 col-center">
      <h1>New Article</h1>

      <%= form_for @article do |f| %>
      <%= f.label :title %>
        <%= f.text_field :title, class: "form__input" %>
        <%= f.label :body %>
        <%= f.text_area :body, class: "form__input--textarea"%>
        <%= f.submit "Add Post", class: "form__submit--black"  %>
      <% end %>
    </div>
  </div>
</div>