<h1>New Article</h1>

<%= form_for @article do |f| %>
  <ul>
    <li><%= f.label :title %></li>
    <li><%= f.text_field :title %></li>
    <li><%= f.label :body %></li>
    <li><%= f.text_area :body %></li>
    <li><%= f.submit %></li>
  </ul>
<% end %>