<!DOCTYPE html>
<html>
<head>
  <!-- Title -->
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Meta -->
  <meta name="description" content="<%= pageDescription %>">
</head>
<body>

<header class="header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="header__brand"><%= link_to(@site_name, root_path) %></div>
        <nav role="navigation">
          <ul class="header__nav">
            <li class="header__nav__link"><%= link_to('Home', root_path) %></li>
            <li class="header__nav__link"><%= link_to('About', about_path) %></li>
            <li class="header__nav__link"><%= link_to('Blog', articles_path) %></li>
            <% if current_user %>
              <li class="header__nav__link--right">Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></li>
            <% else %>
              <li class="header__nav__link--right"><%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %></li>
            <% end %>
          </ul>
        </nav> <!-- /.navbar -->
      </div> <!-- /.col-6 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</header><!-- /main header -->

<main role="main">
  <%= yield %>
</main> <!-- /main -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <small>&copy; Copyright <%= @site_name %></small>
      </div>
    </div>
  </div>
</footer> <!-- /footer -->

</body>
</html>
